h1,
h2,
h3,
p,
ul,
span {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
    position: relative;
    overflow: hidden;
}

.container{
    padding: 10%;
}


.about{
    margin: 0 auto;
    background-color: #4441cf;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: fit-content;
}
.brand{
    display: flex;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    font-weight: 700;

    align-items: center;
}

.upper{
    font-family: 'Fredoka One', cursive;

    font-size: 37px;
    color: #4441cf;
    font-weight: 700;
}
.row{
    align-items: center;
    display: flex;
}
.left{
    width: 60%;
}

.left h2{
    margin-top: 15px;
}

.left p{
    margin-top: 12px;
}

.right{
    width: 40%;
}
.right img{
    margin-left: 30px;
    object-fit: contain;
    max-width: 100%;
    width: 300px;
}

.why h2{
    font-weight: 700;
    margin: 30px auto 0;
    text-align: center;
}

.why ul{
    margin-top: 40px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.why ul li{
    text-align: center;
}

.why ul li h2{
    color: #4441cf;
    font-size: 24px;
}

.why ul li span{
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.why ul li p{
    margin-top: 5px;
}